<!--Home-Menü - achtung: keine hrefs!-->

<div class="ui four item tabs menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a routerLink="padlets" routerLinkActive="active" class="item">Alle Padlets ansehen</a>
  <a routerLink="padletbearbeiten" routerLinkActive="active" class="item">Padlet hinzufügen</a>
  <a routerLink="login" routerLinkActive="active" class="item">{{getLoginLabel()}}</a>
</div>

<router-outlet> </router-outlet>

<!--das ist quasi wie ein Footer-->
<div class="ui">
  <br>
</div>
