<div class="ui grid" *ngIf="padlet">

  <div class="twelve wide column">
    <h1 class="ui header">{{padlet.name}}</h1>
    <h4 class="ui header">Erstellt am {{padlet.erstellungsdatum | date: 'longDate'}}</h4>

    <div class="ui divider"></div>
    <div class="ui grid">


      <div class="four wide column">

        <h4 class="ui header">Einträge</h4>
        <div>
          <div
          class="ui card item bs-entry-list-item"
          *ngFor="let eintrag of padlet?.eintrags"
          [routerLink]="['eintrag/', eintrag.id.toString()]">
            <div>{{eintrag.text}}</div>
          </div>
        </div>
        <br><br>
      </div>

    </div>
  </div>

</div>

<button routerLink="/padlets" class="ui tiny grey button" >Zurück zur Listansicht</button>

<!--removePadlet ist im .ts angelegt-->
<button class="ui tiny red labeled icon button" (click)="removePadlet()">
  <i class="remove icon"></i>Padlet löschen</button>

<!--<button *ngIf="authService.isLoggedIn()" class="ui tiny red labeled icon button" (click)="removePadlet()">
  <i class="remove icon"></i>Padlet löschen</button>-->

<a class="ui tiny yellow labeled icon button" [routerLink]="['../../padletbearbeiten',padlet.id]"><i class="write icon">
</i>Padlet bearbeiten</a>

<!--<a *ngIf="authService.isLoggedIn()" class="ui tiny yellow labeled icon button" [routerLink]="['../../padletbearbeiten',padlet.id]"><i class="write icon">
</i>Padlet bearbeiten</a>-->

<a class="ui tiny blue labeled icon button" [routerLink]="['../../eintragerstellen']"><i class="add icon">
</i>Eintrag hinzufügen</a>

<!--<a *ngIf="authService.isLoggedIn()" class="ui tiny blue labeled icon button" [routerLink]="['../../eintragbearbeiten',padlet.id]"><i class="add icon">
</i>Eintrag hinzufügen</a>-->
